.force_color {
    background-color: #280505;
}

.life_color {
    background-color: #282805;
}

.entropy_color {
    background-color: #280028;
}

.form_color {
    background-color: #052805;
}

.inertia_color {
    background-color: #052828;
}