.force_bg_color {
    background-color: #280505;
}

.force_text_color {
    color: #e67f7f;
}

.life_bg_color {
    background-color: #282805;
}

.life_text_color {
    color: #c1a757
}

.entropy_bg_color {
    background-color: #280028;
}

.entropy_text_color {
    color: #beb3ff
}

.form_bg_color {
    background-color: #052805;
}

.form_text_color {
    color: #4ae88c
}

.inertia_bg_color {
    background-color: #052828;
}

.inertia_text_color {
    color: #73b3f2
}